include pug/common/_head
	block content
			main#main(role="main")
				section.section-events-list
					.container
						.row
							.col-12
								include pug/components/_event-form
							.col-12
								include pug/components/_events-list

