body {
    min-width: $min-width-container;
}

.container {
    max-width: $max-width-container;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}

a[href^=tel],
a[href^=fax],
a[href^=skype] {
    color: $link-color;
    text-decoration: none;
}

.section-events-list {
    padding: 30px 0;
    min-height: 100vh;
    select {
        option {
            &:first-child {
                display: none;
            }
        }
    }
}

.event-form {
    max-width: 800px;
    width: 100%;
    margin: 0 auto 2rem;
    input {
        background-color: $gray-500;
        &.input-error{
            border-color: red;
        }
    }
    .input-item {
        label {
            margin-bottom: 0;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
    .btn {
        min-width: rem-calc(200);
        margin-right: 0;
        margin-left: auto;
        display: block;
    }
}

.day-item {
    border: 1px solid $gray-600;
    .day-header {
        background-color: $gray-600;
        color: $black;
        font-weight: 700;
    }
}

.day-events-list {
    padding: 0;
    margin: 0;
    padding: rem-calc(10);
    label {
        margin-bottom: 0;
        font-size: rem-calc(14);
    }
    input[type='text'] {
        height: rem-calc(25);
        padding: rem-calc(5) rem-calc(3);
        background-color: $gray-500;
        font-size: rem-calc(14);
        border-radius: rem-calc(2);
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }
}

.event-item {
    &:not(:last-child) {
        margin-bottom: rem-calc(10);
    }
    .event-date {
        position: absolute;
        width: 78px;
        top: -1px;
        left: -80px;
    }
    .event-time {
        position: relative;
        input[type='text'] {
            width: rem-calc(43);
        }
    }
    .event-panel-side {
        position: relative;
        label {
            width: rem-calc(43);
        }
    }
    .event-text {
        max-width: rem-calc(200);
        width: 100%;
        input {
            width: 100%;
        }
    }
    .event-controls {
        [class^="icon-"] {
            color: $gray-700;
            transition: 0.3s color ease-in-out;
            &:not(:first-child) {
                margin-left: 5px;
            }
            &:hover {
                cursor: pointer;
                color: $black;
            }
        }
    }
    .icon-check {
        display: none;
    }
}